<%- include ../Partials/header.ejs %>

    <div class="container text-center">
        <a href="/auth/store/sign-in" class="btn btn-primary">Sign In</a>
        <a href="/auth/store/sign-up" class="btn btn-success ml-2">Sign Up</a>
    </div>