<%- include ../Partials/header.ejs %>

    <div class="container">
        <h2>Forgot password</h2>

        <form action="/auth/forgot-password" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group form-check">
                <button class="btn btn-primary">Sign In</button>
            </div>
        </form>
    </div>