<%- include ../Partials/header.ejs %>

    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= name %>
                </h5>
                <h5 class="card-title">
                    <%= email %>
                </h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>